.flip-card {
  position: relative;

  height: 90px;
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222));
  border: 1px solid coral;
  border-radius: 1rem;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
  overflow: visible; 
}

.flip-card-front {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(153, 94, 72);
  font-weight: bold;
  font-size: 24px;
}

.flip-card-back {
  position: absolute;
  top: 100%;
  left: 0;

  transform-origin: top center;
  transform: rotateX(-90deg); 
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  padding: 20px;
  background: rgb(245, 192, 148);
  border-radius: 1rem;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
  z-index: 5;
  pointer-events: none;
}

.flip-card:hover .flip-card-back {
  transform: rotateX(0deg);
  opacity: 1;
  pointer-events: auto;
}

.ranktitle {
  text-align: center;
}
