.news-card {
  border: 1px solid #ffffff; /* gray-700 */
  border-radius: 12px;
  background-color: #ffffff; /* gray-800 */
  padding: 16px;
  max-width: 520px;

  font-family: sans-serif;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profile-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.user-name {
  font-size: 1.125rem; /* text-lg */
  font-weight: 500;
  color: rgb(0, 0, 0);
  margin: 0;
}

.social-links ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 4px;
  list-style: none;
}

.social-links li a {
  font-size: 0.75rem; /* text-xs */
  font-weight: 500;
  color: #000000; /* gray-300 */
  text-decoration: none;
  padding: 4px;
  display: inline-block;
}

.project-list {
  margin-top: 16px;
  list-style: none;
  padding: 0;
}

.project-item {
  display: block;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 14px;
  text-decoration: none;
  transition: border 0.3s ease;
  margin-top: 5px;
}

.project-item:hover {
  border-color: #ec4899;
}

.project-title {
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.project-desc {
  margin-top: 8px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #000000; /* gray-300 */
}
